*{
    margin:0;
}

.mgn-2em{
    margin: 2em;
}

.subtitle{
    border-bottom: 1px solid gray;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: rgb(138, 138, 138);
    margin: 0.2rem;
    //border: 1px solid red;
}

.title{
    h1{
        font-size: 2.5rem;
        text-align: center;
    }

    margin: 0.1rem;

    //border: 1px solid green;
}

.row fieldset{
    border: 2px #F00 solid;
    border-radius: 10px;
}
  
.row input {
    background-color: #e51c23;
    border: 2px white;
    border-radius: 25px;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.modal-span{
    background-color: rgba(221, 123, 123, 0.774);
    color:white;
    font-weight: bold;
}


  
